.conversations-content {
  text-align: center;
}

.conversation-list {
  list-style: none;
  text-align: left;
  padding-left: 5%;
}

.conversation-button {
  border: none;
  font-size: 1.2rem;
  border-bottom: #173340 2px solid;
  margin-bottom: 5%;
  width: 50vw;
}

.newconversation-button {
  border: none;
  font-size: .8rem;

}