.conversations-content {
  text-align: center;
}

.conversation-list {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

.conversation-button {
  border: none;
  font-size: 1.2rem;
  border-bottom: #173340 2px solid;
  margin-bottom: 5%;
  width: 50vw;
}

.newconversation-button {
  border: none;
  font-size: .8rem;
  border-bottom: 2px solid #173340;
}

@media only screen and (min-width: 768px) {
  .conversation-list {
    text-align: center;
  }

  .conversation-list {
    padding-left: 0;
  }

  .newconversation-button {
    font-size: 1.3rem;
  }
}