.main-page-content {
  text-align: center;
}

.main-page-button {
  border: none;
  font-size: 1.3rem;
  border-bottom: 2px solid #173340;
}

#onboarding-button {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20%;
  border-bottom: 2px solid #173340;
}

#register-return-button {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border: #173340 3px solid;
  background-color: #173340;
  width: 95vw;
}
