.letterview-content {
  display: flex;
  flex-direction: column;
}

.letter-content {
  margin-right: 0;
}

button {
  border: none;
  font-size: 1.3rem;
  width: 40vw;
}

.letter-nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}