h3 {
  font-size: 1rem;
  text-align: center;
}

#register-error {
  color: red;
  font-weight: bolder;
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 1.3rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 90vw;
  margin-bottom: 10%;
  font-size: 1.5rem;
  margin-top: 5%;
}

#register-button {
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
}